* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.App {
  background-color: #0d1821;
  color: white;
  width: 100%;
}

.header {
  height: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.NavLinks {
  list-style: none;
  font-size: 18px;

  display: inline;

  height: fit-content;
}

.logged-in {
  padding: 0.5rem;
  text-align: center;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
}

.TopicLinks {
  display: inline;
}

.NavBar {
  background-color: #0d182100;

  text-align: center;
  height: fit-content;

  margin-bottom: 0.5rem;

  transition-duration: 200ms;
}

.NavBar-static {
  position: fixed;
  top: 0;

  z-index: 100;

  text-align: center;

  height: fit-content;

  margin-bottom: 0.5rem;
  background-color: #0d1821;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  width: 100%;
  transition-duration: 200ms;
}

.NavBar h3 {
  text-align: start;
  width: fit-content;
  margin: 0.5rem;
  font-size: 18px;
}

.nav__link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}
.most-recent {
  display: block;
  text-align: center;
}

most-recent h2 {
  text-align: center;
}
.single-article {
  display: block;
  width: 90%;
  margin: auto;
  align-items: center;
}

.singleArticle {
  display: block;
  background-color: #0c1620d2;
  width: 100%;

  border: 2.5px solid #455e49;

  padding: 0.5rem;
  margin: 0.5rem;
}

.article__title {
  height: fit-content;
  text-align: start;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.app-display {
  padding: 0.5rem;
  margin: 0.5rem;
}

.articles {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  margin-right: auto;
}

.article__topic {
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.article__author {
  text-align: start;
  margin-bottom: 0.5rem;
}

.article__preview {
  display: block;
  width: 20em;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
  font-size: smaller;
}

.comment-count {
  padding-bottom: 0.5rem;
}

.split-body {
  list-style: none;
  text-align: center;
}

.split-body li {
  padding: 1rem;
}

.article__created {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  display: inline;
}

.article__body {
  margin-bottom: 0.5rem;
  text-align: left;
}
.article__title-underline {
  padding: 0.5rem;
  border-radius: 10px;
  text-align: left;
}

.article-info {
  display: inline-flex;
  width: fit-content;

  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.article__topic-underline {
  text-align: center;
  text-transform: capitalize;
  padding: 0.5rem;
  margin: 0.5rem;
}

.article__author-centre {
  text-align: center;
  justify-content: center;
}
.sort-params {
  font-size: 14px;
  display: inline-flex;
  width: 80%;

  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: baseline;
  padding: 0.5rem;
}

.single-article__header {
  display: block;

  padding: 0.5rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 20%;
  border-radius: 10px;
}

.singleArticle:hover {
  background-color: #122230;
  transition-duration: 0.5s;
}

.sort-params h3 {
  font-size: 14px;
  display: inline;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: fit-content;
}

.sort-params form {
  display: inline-flex;
}

.ArticleList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ArticleList h1 {
  text-align: center;
  width: fit-content;
  padding: 1rem;
}

a {
  color: #8daa91;
  height: fit-content;
}

.article__votes {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.vote-text {
  display: flex;
  height: fit-content;
  justify-content: center;
}

.article__votes p {
  padding: 0.5rem;
}

.Home h1 {
  text-decoration: underline;
}

.loading {
  text-align: center;
  padding: 1rem;
  justify-content: center;
}

.loading-wrapper {
  display: block;

  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.material-symbols-outlined {
  font-size: 1.25rem;
  text-align: center;
  width: auto;
  align-items: center;
}
.vote-btn {
  background-color: #8daa91;
  width: fit-content;
  height: fit-content;

  padding: 2px;
  border: solid 2px #455e49;
  border-radius: 10px;
  margin: 0.5rem;
}

#no-comment {
  text-align: center;
}

.topic-header {
  text-transform: capitalize;
}

.topic-page {
  display: block;
}

.read-article {
  text-align: end;
}

#home-message {
  text-align: center;
  padding: 0.5rem;
}

.loading-msg {
  text-align: center;
}
.loading-wrap {
  display: block;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  width: 50%;
}

.article__body li {
  display: block;
  text-align: left;
  padding: 0.5rem;
  margin: 0.5rem;
}

.comments-section {
  display: block;

  margin: 0.5rem;
  padding: 0.5rem;
}

.comments__header {
  text-align: center;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.single-comment {
  padding: 0.5rem;
  display: flexbox;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  justify-content: center;

  height: fit-content;
}
.user-info {
  font-size: 0.75rem;
  display: block;
  justify-content: center;

  text-align: center;

  margin: 1rem;
  padding: 0.25rem;
}
.comment-username {
  padding: 0.5rem;
}

.comment-body {
  margin: 0.5rem;
  padding: 0.5rem;
  height: fit-content;
}

.comment-created {
  margin: 0.5rem;
}

.comment-main {
  border: 2.5px solid #455e49;
  background-color: #122230;
  border-radius: 10px;
}

.single-article__header {
  font-size: 1rem;
  width: 80%;
}

.comment {
  list-style: none;
}
.comment-input {
  border: 2.5px solid #455e49;
  background-color: #122230;
  border-radius: 10px;
  color: white;
}

.submit-btn {
  background-color: #8daa91;
  width: fit-content;
  height: fit-content;

  padding: 2px;
  border: solid 2px #455e49;
  border-radius: 10px;
  margin: 0.5rem;
}
.show-comments {
  background-color: #8daa91;

  height: fit-content;
  text-align: center;
  align-content: center;

  display: block;

  padding: 0.5rem;
  border: solid 2px #455e49;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#comment-posted {
  text-align: center;
}

.add-comment {
  text-align: center;
}

#form-alert {
  margin: 1rem;
}

.user-posted {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .single-article__header {
    display: flexbox;
    text-align: center;
  }
  .comments-section {
    text-align: left;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  .comments__header {
    text-align: center;
    margin: 1rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .single-comment {
    padding: 0.5rem;
    display: inline-flex;
    width: 100%;

    align-items: flex-start;
    justify-content: left;
  }
  .user-info {
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;

    padding: 0.25rem;
  }

  .comment {
    align-items: flex-start;
  }

  .comment-body {
    margin: 0.5rem;
    width: 75%;
  }

  .comment-created {
    margin: 0.5rem;
  }

  .comment-main {
    border: 2.5px solid #455e49;
    background-color: #122230;
    border-radius: 10px;
    margin: 0.5rem;
    width: 100%;
  }

  .single-article {
    font-size: 1.25rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    padding: 1rem;
  }

  .show-comments {
    background-color: #8daa91;
    width: fit-content;
    height: fit-content;

    padding: 0.5rem;
    border: solid 2px #455e49;
    border-radius: 10px;
    margin: 1.5rem;
  }

  .article__votes {
    justify-content: center;
    font-size: 1.25rem;
  }

  .article__title-underline {
    padding: 1.25rem;
    width: auto;
    text-align: center;
    font-size: 1.5rem;
  }
  .single-article__header {
    background-color: #ffffff00;
    border-style: hidden;
  }

  .comment-input {
    margin: 1rem;
  }
}

.user-posted {
  text-align: center;
}

/* @media screen and (min-width: 600px) {
  * {
    font-family: "Roboto";

    padding: 0.5rem;
  }

  .sideNav {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .NavBar {
    position: relative;
    left: 0;
  }
  .NavBar-static {
    display: inline;
  }

  .header {
    font-size: 48px;
    text-align: center;
  }

  .App {
    display: flex;
    flex-direction: row;
  }

  .NavLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;

    font-size: 48px;
  }

  .nav__link {
    margin: 10rem;
  }

  .article__preview {
    display: none;
  }

  .article__title-underline {
    font-size: 2rem;
  }

  .article-info {
    display: inline-flex;
    align-self: center;
    width: fit-content;
  }

  .article__body {
    font-size: 1.5rem;
  }
} */
